absl-py
cffi
contourpy
cycler
flatbuffers
fonttools
jax
jaxlib
kiwisolver
matplotlib
mediapipe
ml-dtypes
numpy
opencv-contrib-python
opencv-python
opt-einsum
packaging
pillow
protobuf
pycparser
pyparsing
python-dateutil
scipy
six
sounddevice
Flask
face_recognition